label {
  display: block;
}

.section {
  display: flex;
  background-color: rgba(137, 137, 137, 0.2);
  border-radius: 30px;
  max-width: 400px;
  flex-direction: column;
  justify-content: center;
}

.section-head {
  display: flex;
  gap: 20px;
  align-items: center;
  border-radius: 30px 30px 0px 0px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 20px;
}

.section-head:focus {
  outline: none;
  box-shadow: none;
}

.toggle-more-button {
  width: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px;
}

.rotated {
  transform: rotate(180deg);
}
